<div class="form-container">
  <form action="/addBlog" method="POST">
    <label>title:</label>
    <input type="text" name="title" />
    <label>content:</label>
    <input type="text" name="content" class="body" />
    <button type="submit">Add Blog</button>
  </form>
</div>
