<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="details-header">
      <h2>Update Blog</h2>
    </header>
    <div class="form-container">
      <form action="/updateBlog/<%=foundBlog._id  %>" method="POST">
        <label>title:</label>
        <input type="text" name="title" value="<%=foundBlog.title  %>" />
        <label>content:</label>
        <input
          type="text"
          name="content"
          class="body"
          value="<%=foundBlog.body %>"
        />
        <button type="submit">update Blog</button>
      </form>
    </div>
  </body>
</html>
