@mixin anchor-mix {
  text-decoration: none;
  color: #333;
  font-weight: 700;
}
//**********//
$box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
$box-shadow2: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$bg-1: #d9e4f5;
//**********//
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}
//*********//

.header {
  background: linear-gradient(205deg, $bg-1);
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $box-shadow;
  .nav-ul {
    display: flex;
    list-style: none;
    .nav-li {
      margin: 0 2rem;
      a:link,
      a:visited,
      a:active {
        @include anchor-mix;
      }
    }
  }
  .profile {
    a:link,
    a:visited,
    a:active {
      @include anchor-mix;
      margin: 0 1rem;
      padding: 0.7rem 1rem;
      border: 2px solid #000;
      border-radius: 15px;
      color: #000;
    }
    .sign-in {
      background-color: #000;
      color: #fff !important;
    }
  }
}
//***********//
.main-section {
  // margin: 3rem 1rem;
  // padding: 0 1rem;
  // border: 1px solid #333;
  .blog-container {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // gap: 1rem;\
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 2rem;
  }
  .blog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
    .blog-icon {
      height: 30px;
      width: 30px;
      color: #333;
    }
    .blog-text {
      padding: 1rem 0;
    }
  }
  .blog-card {
    height: 10rem;
    // width: 12rem;
    box-shadow: $box-shadow2;
    border-radius: 10px;
    overflow: hidden;
    justify-self: center;
    .blog-img img {
      width: 100%;
      overflow: hidden;
    }
    .blog-content {
      padding: 0 1rem;
      .blog-title {
        font-size: 1.4rem;
        font-weight: 500;
      }
      .blog-author-box {
        display: flex;
        align-items: center;
        .blog-author {
          display: flex;
          align-items: center;
        }
        .blog-author-img {
          width: 20%;
          img {
            width: 100%;
            border-radius: 50%;
          }
        }
        .read-btn a {
          @include anchor-mix();
        }
      }
    }
  }
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
  height: 100vh-10;
  form {
    width: 100%;
    input {
      display: flex;
      flex-direction: column;
      padding: 0.8rem 0;
      border: none;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 8px;
    }
    .body {
      height: 200px;
    }
    button {
      width: 100%;
      padding: 0.8rem 1rem;
      border-radius: 8px;
      border: none;
      margin-top: 1rem;
      color: #000;
      font-weight: 700;
    }
  }
}
.details-header {
  background-color: $bg-1;
  padding: 0.5rem 1.5rem;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin-bottom: 2rem;
  .btn {
    color: #333;
    height: 30px;
    width: 30px;
    text-decoration: none;
    background-color: #eee;
    padding: 1rem;
    border-radius: 9px;
  }
}
.b-content {
  position: relative;
  max-width: 1100px;
  margin: 1rem auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: $box-shadow2;
  height: 100vh;
  .time {
    position: absolute;
    bottom: 0;
  }
}
