* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  background-color: #333;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

.cir1 {
  height: 17rem;
  width: 17rem;
  background-color: rgba(164, 110, 110, 0.2);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: inherit;
  box-shadow: 0px 5px 30px rgba(198, 195, 195, 0.1);
}

.cir2 {
  height: 10rem;
  width: 10rem;
  background-color: rgba(164, 110, 110, 0.2);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: inherit;
  box-shadow: 0px 5px 30px rgba(198, 195, 195, 0.1);
}

.header {
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav-ul {
  display: flex;
  list-style: none;
}
.header .nav-ul .nav-li {
  margin: 0 2rem;
}
.header .nav-ul .nav-li a:link,
.header .nav-ul .nav-li a:visited,
.header .nav-ul .nav-li a:active {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.header .profile a:link,
.header .profile a:visited,
.header .profile a:active {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  margin: 0 1rem;
  padding: 0.7rem 1rem;
  border: 2px solid #000;
  border-radius: 15px;
  color: #fff;
}
.header .profile .sign-in {
  background-color: #000;
  color: #fff !important;
}

.main-section .blog-main-cont {
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 20rem 1fr;
  gap: 2rem;
  grid-row: span 2;
  padding: 0 1rem;
}
.main-section .blog-main-cont .blog-sidebar {
  background-color: rgba(255, 244, 244, 0.1);
  border-radius: 10px;
}
.main-section .blog-main-cont .blog-sidebar a {
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #d9e4f5;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  color: #444;
  text-decoration: none;
}
.main-section .blog-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 100%;
}
.main-section .blog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}
.main-section .blog-header .blog-icon {
  height: 30px;
  width: 30px;
  color: #fff;
}
.main-section .blog-header .blog-text {
  padding: 1rem 0;
  color: #fff;
}
.main-section .blog-card {
  height: 10rem;
  width: 30%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 10px;
  overflow: hidden;
  justify-self: center;
  position: relative;
  background-color: rgba(255, 244, 244, 0.1);
}
.main-section .blog-card:hover {
  background-color: rgba(255, 244, 244, 0.3);
}
.main-section .blog-card .blog-content {
  padding: 0 1rem;
}
.main-section .blog-card .blog-content .blog-title {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
}
.main-section .blog-card .blog-content .blog-author-box {
  display: flex;
  align-items: center;
  position: absolute;
  justify-self: center;
  bottom: 0;
  padding: 0 0.5rem;
}
.main-section .blog-card .blog-content .blog-author-box .blog-author {
  display: flex;
  align-items: center;
  color: #fff;
}
.main-section .blog-card .blog-content .blog-author-box .blog-author-img {
  width: 15%;
}
.main-section .blog-card .blog-content .blog-author-box .blog-author-img img {
  width: 100%;
  border-radius: 50%;
}
.main-section .blog-card .blog-content .blog-author-box .read-btn a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
  height: 90vh;
}
.form-container form {
  width: 100%;
}
.form-container form input {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0;
  border: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.form-container form .body {
  height: 200px;
}
.form-container form button {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  border: none;
  margin-top: 1rem;
  color: #fff;
  font-weight: 700;
}

.details-header {
  background-color: #d9e4f5;
  padding: 0.5rem 1.5rem;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details-header .btn {
  color: #fff;
  height: 30px;
  width: 30px;
  text-decoration: none;
  background-color: #eee;
  padding: 1rem;
  border-radius: 9px;
}

.b-content {
  position: relative;
  max-width: 1100px;
  margin: 1rem auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 100vh;
}
.b-content .time {
  position: absolute;
  bottom: 0;
}/*# sourceMappingURL=styles.css.map */